/* Forms */
.form {
  width: 500px;
  padding: 20px;
  margin: auto;

  background-color: #fff;
}

.form-group {
  margin-bottom: 15px;
}

.form-input {
  display: block;
  padding: 5px;

  border: 1px solid #000;

  font-family: Arial, sans-serif;
  font-size: 15px;
}

.form-input:focus {
  outline: none;
  background-color: #bddbff;
}

.form-textarea {
  width: 200px;
  height: 150px;
  padding: 5px;

  border: 1px solid #000;
  outline: 5px solid red;
  /* отступ от элемента*/
  outline-offset: 5px;

  /* outline-width: 5px;
  outline-style: dotted;
  outline-color: red; */

  /*Шрифты можно задавать одним свойством*/
  /* font: 15px Arial, sans-serif; */
  /* font: bold 15px Arial, sans-serif; */
  /* font: bold italic 15px Arial, sans-serif; */
  font: bold italic 15px/1.5 Arial, sans-serif;

  /* font-family: Arial, sans-serif;
  font-size: 15px; */
}

.form-textarea:focus {
  outline: none;
  background-color: #bddbff;
}

.link {
  color: #1d76dd;
  text-decoration: none;
}

/* visited должен быть до hover*/
.link:visited {
  color: #7c25d3;
}

.link:hover {
  text-decoration: underline;
}
/* после hover */
/* .link:active {
} */

.btn {
  padding: 5px 10px;
  background-color: #43ac14;
  border: 1px solid #3a9112;
  color: #fff;
}

.btn:focus {
  outline: none;
}

.btn:hover,
.btn:focus {
  background-color: #3a9112;
  cursor: pointer;
}

.btn:active {
  background-color: #2c760a;
}

.btn:disabled {
  background-color: #444;
  color: #808080;
  cursor: not-allowed;
  border: 1px solid #444;
}

.form-fieldset {
  margin-bottom: 20px;
  padding: 20px;
  /* border: 1px solid #ccc; */
  /* border-right: 1px solid #ccc; */
  border: 1px solid #ccc;
  /* тоже самое что и запись выше*/
  /* border-width: 1px;
  border-style: solid;
  border-color: #ccc; */
  /* border-top: none; */
  /* border-left-color: red;
  border-right-color: blue;
  border-top-color: greenyellow;
  border-bottom-color: brown; */
}

.form-title {
  margin: 0 0 15px;
}

.title {
  text-decoration: underline overline;

  /* text-decoration-style: dashed;
  text-decoration-line: underline;
  text-decoration-color: blue; */
}
