body {
  margin: 0;

  font-family: Arial, sans-serif;
  font-size: 15px;
  color: #121212;
}

#container {
  background-color: #111;
}

.container {
  width: 500px;
  padding: 20px;
  margin: 20px auto;

  background-color: #eee;
}

.container h1 {
  color: red;
}

.title {
  color: green !important;
}
